<h1><%= @post.title %></h1>
<p> <%= @post.content %></p>
<p> Tagged: <% @post.categories.each do |category| %>
  <%= category.name %>
  <% end %>
  <br>
  <br>

<h2>Comments:</h2>
<% @post.comments.each do |comment| %>
<p><%= comment.user.username%> says: <%= comment.content %><p>
  <% end %>

  <h2> Commenters:</h2>
  <% @post.users.uniq.each do |user|%>
  <li><%= link_to user.username, user_path(user)%>
  <% end %>



<h2> Post New Comment:</h2>
<%= render 'comments/form', comment:@comment %>
